﻿
@{
    Layout = null;
}

<!doctype html>
<html>
<head>

    <meta charset="utf-8">



    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.1.412/styles/kendo.common.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.1.412/styles/kendo.rtl.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.1.412/styles/kendo.default.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.1.412/styles/kendo.mobile.all.min.css">

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.1.412/js/angular.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.1.412/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.1.412/js/kendo.all.min.js"></script>
</head>
<body>
    <div id="example" ng-app="KendoDemos">
        <div ng-controller="MyCtrl">
            <kendo-grid k-options="mainGridOptions" >

            </kendo-grid>
        </div>
    </div>
    <script>
        var KendoDemos = angular.module("KendoDemos", ["kendo.directives"]);
        KendoDemos.controller("MyCtrl", function ($scope) {

            $scope.mainGridOptions = {  
                
                    dataSource: {  
                        type: "json",  
                        transport: {  
                            read:  
             {  
                 url: "https://localhost:44311/api/getcars",  
                 dataType: "json",  
             },  
                            destroy:  
             {  
                 url: "https://localhost:44311/api/deletecar",  
                 type: "DELETE"  
             },  
                            create:  
                            {  
                                url: "https://localhost:44311/api/addcar",  
                                type: "POST",
                            },  
                            update:  
                            {  
                                url: "https://localhost:44311/api/editcar" ,  
                                type: "PUT",  
                              
                            parameterMap: function (options, operation) {  
                                if (operation !== "read" && options.models) {  
                                    return {  
                                        models: kendo.stringify(options.models)  
                                    };  
                                }  
                            }  
                            },  
  
  
                        },  
                        schema:  
         {  
             model:  
             {  
                 id: "Id",  
                 fields: {  
                     Model: { editable: true, nullable: true, type: "string" },  
                     Name: { editable: true, nullable: true, type: "string" },  
                     Category: { editable: true, nullable: true, type: "string" }
                 }  
             }  
         },  
                        pageSize: 10,  
                        serverPaging: true,  
                        serverSorting: true  
                    },  
  
                    editable: "inline",  
                    toolbar: ["create"],  
                    sortable: true,  
                    pageable: true,  
                    resizeable: true,  
                columns: [{  
                        field: "Model",  
                        title: "Model",  
                        width: "180px"  
                    }, {  
                        field: "Name",  
                        title: "Name",  
                        width: "180px"  
                        }, 
                        {  
                        field: "Category",  
                        title: "Category",  
                        width: "180px"  
                    },  
                        {  
                            command: ["edit",  
                            {  
                                name: "destroy",  
                                text: "remove",  
                                width: "120px"  
                            }  
                            ],  
                        }  
                    ]  
                }; 
        })
    </script>

</body>
</html>
