﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html >
<head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="~/Content/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="~/Content/styles/kendo.rtl.min.css" />
    <link rel="stylesheet" href="~/Content/styles/kendo.default.mobile.min.css" />
    <script src="~/Scripts/kendo/js/jquery.min.js"></script>
    <script src="~/Scripts/kendo/js/jszip.min.js"></script>
    <script src="~/Scripts/kendo/js/angular.min.js"></script>
    <script src="~/Scripts/kendo/js/kendo.all.min.js"></script>
</head>
<body>
    <div ng-controller="carController" ng-init="getCars()" ng-app="myApp">
        <button value="Test" ng-click="getCars()">RefreshTable</button>
        <div class="table-responsive">
            <table class="table table-bordred table-striped">
                <thead>
                    <tr>Model</tr>
                    <tr>Name</tr>
                    <tr>Category</tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in CarList">
                        <td>{{item.Model}}</td>
                        <td>{{item.Name}}</td>
                        <td>{{item.Category}}</td>
                        <td>
                            <button ng-click="deleteCar(item.Id)">Delete</button>
                            <button ng-click="edit(item)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div ng-switch on="mode">
            <div ng-switch-when="add">
                <p>Add Car</p>
                <form>
                    <label>Model</label>
                    <input type="text" ng-model="Car.Model" />
                    <br />
                    <label>Name</label>
                    <input type="text" ng-model="Car.Name" />
                    <br />
                    <label>Category</label>
                    <input type="text" ng-model="Car.Category" />
                    <br />
                    <input type="submit" value="Add" ng-click="addCar(Car)" />
                </form>
            </div>
            <div ng-switch-when="edit">
                <p>Edit Car</p>
                <form>
                    <label>Model</label>
                    <input type="text" ng-model="editedCar.Model" />
                    <br />
                    <label>Name</label>
                    <input type="text" ng-model="editedCar.Name" />
                    <br />
                    <label>Category</label>
                    <input type="text" ng-model="editedCar.Category" />
                    <br />
                    <input type="submit" value="Edit" ng-click="editCar(editedCar)" />
                </form>
            </div>
        </div>
        <br />
    </div>
    <script>
        angular.module('myApp', []);
    </script>
    <script src="~/App/CarController.js"></script>


</body>
</html>
